@{
    ViewData["Title"] = "Home Page";
}

@*Welcome Banner*@
<div class="container-fluid p-5 bg-success text-white text-center">
    <h1>Welcome to GS Troop 41645 Page</h1>
    <p>We welcome all new members from rising Kindergarten through 12th Grade girls
        to join our multi-level Girl Scout troop. We are also looking for new parent 
        volunteers to help with all aspects of our troop.</p>
</div>
@*1st Row*@
<div class="container mt-5">
    <div class="row">
        @*1st Row / 1st Column*@
        <div class="col-sm-4 bg-info-subtle p-3 rounded">
            <h3>Join Us / Volunteer</h3>
            <ul>
                <li>
                    <a href="https://mygs.girlscouts.org/map;troopNumber=;id=;distanceInMiles=1;address=,,98563,;grades=;season=Current;type=TROOP;troopsDistanceInMiles=1" 
                       target="_blank"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       title="Click the link if you would like to get more information about joining our troop">JOIN
                    </a>
                    <p>
                        Girl Scout membership Registration fee is $65 for the 25/26 Scouting Year.  Our troop Dues/activity fee is $40 a year.
                        Scouts that participate in the Annual Girl Scout Cookie sales can often cover their dues through Money Raising efforts.
                        Financial Assistance is available for those that qualify through Girl Scouts of Western Washington.  
                        The annual dues help the troop offset day to day operations as well as craft and activity costs along with 
                        providing your child with badges, and awards. If we decide to do anything above and beyond, we will discuss 
                        additional fees at that time. We will review the dues/activity fee at times to ensure that costs are being 
                        covered by the troop, but we will do what we can to keep your costs as low as possible.
                    </p>
                </li>
                <li>
                    <a href="https://mygs.girlscouts.org/volunteer-results;troopNumber=;distanceInMiles=1;volunteerPosition=;affiliation=;season=Current;address=,,98563,;troopAttributes=;languages=;id=" 
                       target="_blank"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       title="Clink the link below if you would like more information about registering to volunteer with our troop">VOLUNTEER
                    </a>
                        <p>Volunteers are always welcome and to the volunteers already involved…Thank you.<br />
                            <br />
                            If you would like to be active in our Girl Scout meetings, 
                            then you must be a registered through Girl Scouts of Western Washington.  
                            There is a membership fee for Adults to register, however if your scout qualifies for Financial Assistance, 
                            your membership is covered as well.  There are 2 forms to fill out…one for the background check and the other 
                            is the Adult Registration form similar to the Girl Scout Registration form. We ask for at least one adult per 
                            family to be registered.
                        </p>

                </li>
            </ul>
        </div>

        @*1st Row / 2nd Column*@
        <div class="col-sm-4 bg-success-subtle p-3 rounded">
            <h3>About Us</h3>
            <p>
                Our troop meets weekly in Montesano, Washington - our scouts come from all over 
                Grays Harbor including: McCleary, Elma, Montesano, Central Park, Aberdeen, 
                Cosmopolis and Hoquiam.  Our regular meeting time is at 6pm on Wednesday evenings, 
                in the lower level of Montesano Church of God on Spruce Street.  The troop meets 
                September through early June, taking a break from regular activities during the 
                summer and school breaks.
            </p>
            <p>
                Our Girl Scout Troop spans from Daisies (Kindergarten) through Ambassadors (High School Seniors) 
                and everything in between.  Each level meets separately, but we have special meeting nights 
                and activities throughout the year for the full troop.  Our special troop dynamic fosters a 
                family atmosphere with scouts forming bonds with other scouts in different levels.
            </p>
            <p>
                As Girl Scouts we aim to make the world a better place, and be a sister to every Girl Scout.
            </p>
        </div>

        @*1st Row / 3rd column*@
        <div class="col-sm-4 bg-white p-3 rounded">
            <h3>Meet Our Leaders</h3>
            <ul>
                <li>Troop Lead/Product Manager</li>
                <ul>
                    <li>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#cardModal"
                           data-bs-title="Kerry W"
                           data-bs-img="/images/TroopLead_Kerry.jpg"
                           data-bs-text="Kerry is our troop's leader with over # years
                                         of experience guiding Girl Scouts.">Kerry W
                        </a>
                    </li>
                </ul>
                <li>Ambassadors (11th & 12th Grade)</li>
                    <ul>
                        <li>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#cardModal"
                                data-bs-title="Tracee"
                                data-bs-img="placeholder"
                                data-bs-text="Tracee is our troop's Ambassadors leader with over # years 
                                             of experience guiding Girl Scouts.">Tracee
                            </a>
                        </li>
                    </ul>

                <li>Seniors (9th & 10th Grade)</li>
                    <ul>
                        <li>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#cardModal"
                                data-bs-title="Tracee"
                                data-bs-img="placeholder"
                                data-bs-text="Tracee is our troop's Seniors leader with over # years
                                              of experience guiding Girl Scouts.">Tracee
                            </a>
                        </li>
                    </ul>
                <li>Cadettes (6th, 7th, & 8th Grade)</li>
                    <ul>
                        <li>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#cardModal"
                               data-bs-title="Trish"
                               data-bs-img="placeholder"
                               data-bs-text="Trish is our troop's Cadettes leader with over # years 
                                             of experience guiding Girl Scouts.">Trish
                            </a>
                        </li>
                    </ul>
                <li>Juniors (4th & 5th Grade)</li>
                    <ul>
                        <li>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#cardModal"
                               data-bs-title="Danielle R"
                               data-bs-img="/images/Juniors_Danielle.jpg"
                               data-bs-text="Danielle is our troop's Juniors leader with over # years 
                                             of experience guiding Girl Scouts.">Danielle R
                            </a>
                        </li>
                        <li>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#cardModal"
                               data-bs-title="Katie T"
                               data-bs-img="placeholder"
                               data-bs-text="Danielle is our troop's Juniors leader with over # years
                                                 of experience guiding Girl Scouts.">Katie T
                            </a>
                        </li>
                    </ul>
                <li>Brownies (2nd & 3rd Grade)</li>
                    <ul>
                        <li>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#cardModal"
                               data-bs-title="Cayla Q"
                               data-bs-img="placeholder"
                               data-bs-text="Cayla is our troop's Brownies leader with over # years 
                                             of experience guiding Girl Scouts.">Cayla Q
                            </a>
                        </li>
                    </ul>
                <li>Daisies (Kindergarten & 1st Grade)</li>
                    <ul>
                        <li>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#cardModal"
                               data-bs-title="Kelly Z"
                               data-bs-img="placeholder"
                               data-bs-text="Kelli is our troop's Daisies leader with over # years 
                                             of experience guiding Girl Scouts.">Kelly Z
                            </a>
                        </li>
                    </ul>
            </ul>
        </div>
    </div>
</div>
@*2nd Row*@
<div class="container mt-5">
    <div class="row">
        @*2nd Row / 1st Column*@
        <div class="col-sm-4 bg-success-subtle p-3 rounded">
            <h3>Uniforms </h3>
                <ul>
                    <li><a href="https://www.girlscoutsww.org/en/members/girl-scouts-families/uniforms-and-badges.html">Uniform Info</a></li>
                    <li><a href="https://www.girlscoutshop.com/WESTERN-WASHINGTON-COUNCIL?_gl=1*apzmen*_gcl_au*MTIyNTcxNjIzMi4xNzQ2NzM0ODA4*_ga*MTAxMzE4NTg5NC4xNzQ2NzM0ODA4*_ga_5158YSHZTM*czE3NDY3MzQ4MDckbzEkZzEkdDE3NDY3MzQ5NTkkajAkbDAkaDA.">Store</a></li>
                </ul>
            <p>
                <b>Troop 41645 Class A Uniforms consist of the following:</b><br />
                <u><i>Daisies:</i></u>    Daisy white polo shirt, Daisy smock or vest, and khakis<br />
                <u><i>Brownies:</i></u>   Brownie white polo shirt, vest, and Khakis<br />
                <u><i>Juniors:</i></u>    Junior white polo shirt, vest, and khakis<br />
                <u><i>Cadettes:</i></u>   Cadette white polo shirt, vest, and khakis<br />
                <u><i>Seniors:</i></u>    Senior white polo shirt, vest, and khakis <br />
                <b>Troop 41645 Class B Uniforms consist of the following:</b><br />
                <u><i>All levels:</i></u> Troop T-Shirt
            </p>
        </div>
        @*2nd Row / 2nd Column*@
        <div class="col-sm-4 bg-white p-3 rounded">
            <h3>Attendance</h3>
            <p>We hope that your daughter will be able to attend every meeting, but understand that 
                scheduling can be difficult with sports and other activities. The girls will be doing 
                activities and crafts that will earn badges and awards. If you have to miss a meeting, 
                please get with your troop leader so that your child keeps up with the others. You should 
                also check emails and the website for any special information you may have missed at the meeting.
            </p>
        </div>
        @*2nd Row / 3rd Column*@
        <div class="col-sm-4 bg-info-subtle p-3 rounded">
            <h3>Safety</h3>
            <p>Please fill out the drop-off/pick-up form at every meeting/outing. If someone other than a 
                parent/guardian will be bringing or picking up your child, please let your scout’s troop 
                leader know in advance. For your child’s safety, no child may be dropped off in the parking 
                lot, nor will they be released unless a parent is present to pick up or other arrangements have 
                been made in advance.
            </p><br />
            <p>Thank you so much for involving your girls in a wonderful organization. We will do anything we 
                can to make this an enjoyable and educational experience for your child. Girl Scouts gives all 
                girls the opportunity to discover their potential and the skills they need to thrive</p>
        </div>
    </div>
</div>
@*Modal window*@
<div class="container mt-5">
    <div class="modal fade" id="cardModal" tabindex="-1" aria-labelledby="cardModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cardModalLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img src="" class="img-fluid mb-3" id="cardModalImg" alt="Card Image">
                    <p id="cardModalText"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
