@{
    ViewData["Title"] = "Home Page";
}

@*Welcome Banner*@
<div class="container-fluid p-5 bg-success text-white text-center">
    <h1>Welcome to GS Troop 41645 Page</h1>
    <p>Troop Motto</p>
</div>
@*First Column*@
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-4 bg-info p-3 rounded">
            <h3>Join Us</h3>
            <ul>
                <li>
                    <a href="https://mygs.girlscouts.org/map;troopNumber=;id=;distanceInMiles=1;address=,,98563,;grades=;season=Current;type=TROOP;troopsDistanceInMiles=1" 
                       target="_blank"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       title="Click the link if you would like to get more information about joining our troop">JOIN
                    </a>
                </li>
                <li>
                    <a href="https://mygs.girlscouts.org/volunteer-results;troopNumber=;distanceInMiles=1;volunteerPosition=;affiliation=;season=Current;address=,,98563,;troopAttributes=;languages=;id=" 
                       target="_blank"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       title="Clink the link below if you would like more information about registering to volunteer with our troop">VOLUNTEER
                    </a>
                </li>
            </ul>
        </div>

        @*Second Column*@
        <div class="col-sm-4 bg-success-subtle p-3 rounded">
            <h3>About Us</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>

        @*Third column*@
        <div class="col-sm-4 bg-info-subtle p-3 rounded">
            <h3>Meet our Leaders</h3>
            <ul>
                <li>Ambassadors</li>
                    <ul>
                        <li>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#cardModal"
                               data-bs-title="Kerry"
                               data-bs-img="/images/kerry.jpg"
                               data-bs-text="Kerry is our troop's Ambassadors leader with over # years 
                                             of experience guiding Girl Scouts.">Kerry
                            </a>
                        </li>
                    </ul>

                <li>Seniors</li>
                    <ul>
                        <li>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#cardModal"
                               data-bs-title="Alpha"
                               data-bs-img="placeholder"
                               data-bs-text="Alpha is our troop's Seniors leader with over # years 
                                             of experience guiding Girl Scouts.">Alpha
                            </a>
                        </li>
                    </ul>
                <li>Cadettes</li>
                    <ul>
                        <li>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#cardModal"
                               data-bs-title="Bravo"
                               data-bs-img="placeholder"
                               data-bs-text="Bravo is our troop's Cadettes leader with over # years of experience guiding Girl Scouts.">Bravo</a>
                        </li>
                    </ul>
                <li>Juniors</li>
                    <ul>
                        <li>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#cardModal"
                               data-bs-title="Charlie"
                               data-bs-img="placeholder"
                               data-bs-text="Charlie is our troop's Juniors leader with over # years of experience guiding Girl Scouts.">Charlie</a>
                        </li>
                    </ul>
                <li>Brownies</li>
                    <ul>
                        <li>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#cardModal"
                               data-bs-title="Cayla"
                               data-bs-img="placeholder"
                               data-bs-text="Cayla is our troop's Brownies leader with over # years of experience guiding Girl Scouts.">Cayla</a>
                        </li>
                    </ul>
                <li>Daisies</li>
                    <ul>
                        <li>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#cardModal"
                               data-bs-title="Delta"
                               data-bs-img="placeholder"
                               data-bs-text="Delta is our troop's Daisies leader with over # years of experience guiding Girl Scouts.">Delta</a>
                        </li>
                    </ul>
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="modal fade" id="cardModal" tabindex="-1" aria-labelledby="cardModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cardModalLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img src="" class="img-fluid mb-3" id="cardModalImg" alt="Card Image">
                    <p id="cardModalText"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
